body{
    background-color: #000000;
}
h1{
    text-align: center;
}
.insta{
    text-align: center;
}
.car{
    height: 600px;
    float-left: auto;float-right: auto;
}
.jumbo{
    background-color: #F48739;
}
.titulo{
    font-family: Bahnschrift SemiBold;
    font-size: 120px;
    color: #FFFFFF;
}
p{
    font-size: 30px;
}
.ig{
    height: 500px;
    width: 800px;
}
.tamaño{
    text-align: center;
}
.pie-pagina{
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    color: #000000;
    text-align: center;
}
img{
    height: |100%;
    width: 70%;
}
.nike{
    height: 100%;
}
.navega{
    background-color: #1D1F84;
}
.texto{
   color:#FFFFFF; 
}